[Sunpinyin]
# Use Shuangpin Instead of Quanpin
UseShuangpin=False
# Shuangpin Scheme in Sunpinyin
ShuangpinSchema=MS2003
# Fuzzy Segmentation
FuzzySegmentation=False
# Fuzzy Inner Segmentation
FuzzyInnerSegmentation=False

[QuanPin]
# Fuzzy Zhi Zi
FuzzyZhiZi=False
# Fuzzy Chi Ci
FuzzyChiCi=False
# Fuzzy Shi Si
FuzzyShiSi=False
# Fuzzy An Ang
FuzzyAnAng=False
# Fuzzy On Ong
FuzzyOnOng=False
# Fuzzy En Eng
FuzzyEnEng=False
# Fuzzy In Ing
FuzzyInIng=False
# Fuzzy Eng Ong
FuzzyEngOng=False
# Fuzzy Ian Iang
FuzzyIanIang=False
# Fuzzy Uan Uang
FuzzyUanUang=False
# Fuzzy Ne Le
FuzzyNeLe=False
# Fuzzy Fo He
FuzzyFoHe=False
# Fuzzy Le Ri
FuzzyLeRi=False
# Fuzzy Ke Ge
FuzzyKeGe=False
# AutoCorrect Ign Ing
AutoCorrectingIgnIng=False
# AutoCorrect Ogn Ong
AutoCorrectingOgnOng=False
# AutoCorrect Uen Un
AutoCorrectingUenUn=False
# AutoCorrect Img Ing
AutoCorrectingImgIng=False
# AutoCorrect Iou Iu
AutoCorrectingIouIu=False
# AutoCorrect Uei Ui
AutoCorrectingUeiUi=False

