[submodule ".config/awesome/plugins/revelation"]
	path = .config/awesome/plugins/revelation
	url = https://github.com/bioe007/awesome-revelation.git
[submodule ".config/awesome/plugins/lognotify"]
	path = .config/awesome/plugins/lognotify
	url = https://github.com/Mic92/lognotify.git
[submodule ".config/awesome/vicious"]
	path = .config/awesome/vicious
	url = https://jinleileiking@github.com/jinleileiking/vicious.git
[submodule ".config/awesome/shifty"]
	path = .config/awesome/shifty
	url = https://github.com/bioe007/awesome-shifty.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
