[user]
	email = JINLEI1@kingsoft.com
	name = JINLEI1
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[alias]
	ll = log --graph --all --pretty=format:'%Cred%h %Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	editor = vim
	excludesfile = /home/jinleileiking/.gitignore
[diff]
	tool = meld
[http]
	postBuffer = 524288000
#    proxy = http://120.132.72.199:52179
[https]
#	proxy = https://120.132.72.199:52179
[url "git@newgit.op.ksyun.com:"]
    insteadOf = https://newgit.op.ksyun.com/
