[user]
	email = jinlei04@baidu.com
	name = jinlei04
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[alias]
	ll = log --graph --all --pretty=format:'%Cred%h %Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[core]
	editor = vim
	excludesfile = /home/jinleileiking/.gitignore
[diff]
	tool = meld
[http]
	postBuffer = 524288000
    #proxy = http://agent.baidu.com:8118
[https]
    #proxy = https://agent.baidu.com:8118
